.root {
  min-width: 0;
  height: 100%;
  overflow: auto;
  padding: 20px 16px;
  scrollbar-gutter: stable;
  overscroll-behavior: contain;

  @media (--sm) {
    padding: 24px 32px;
  }
}

.content {
  min-width: 0;
}
